<div class="section">
  <div class="feature-content">
    <h4>The first African blockchain-powered land title ledger that is...
    </h4>
    <div class="row">
      <h1 class="feature-color">Affordable</h1><hr>
      <div class="feature-vl"></div>
      <h1 class="feature-color"> Reliable </h1>
      <div class="feature-vl"></div>
      <h1 class="feature-color"> Secure</h1>
    </div>
  </div>
  <hr>
 <div class="col-container">
   <div class="col">
   </div>
  <div class="col">
    <div class="col-xs-12">
      <img src="assets/img/ethereum.png" alt="Random second slide">
      <h2 class="feature-color">Immutability</h2>
      <p>The data is verifiable by the Ethereum Blockchain;
        the strongest, more trusted immutable peer-to-peer
        public ledger.
      </p>
    </div>
  </div>
  <div class="col">
    <div class="col-xs-12">
      <img src="assets/img/world.png" alt="Random second slide">
      <h2 class="feature-color">Transparency</h2>
      <p>Transparency in land title registry results in more trust from
        everyone in a transaction. BitMerate™ brings in a new
        level of transparency.
      </p>
    </div>
  </div>
  <div class="col">
    <div class="col-xs-12">
        <img src="assets/img/storage.png" alt="Random second slide">
          <h2 class="feature-color">Security</h2>
          <p>Using our platform for document hashing and peer-to-peer
            seeding technology for encrypted and decentralized data.
          </p>
    </div>
  </div>
  <div class="col">
    <div class="col-xs-12">
      <img src="assets/img/innovative.png" alt="Random second slide">
      <h2 class="feature-color">Innovative</h2>
      <p>Our platform is among the innovative pioneers that enable
        blockchain powered land title registry. All transaction hashes
        are recorded on the open Ethereum blockchain for security and
        reliability.
      </p>
    </div>
  </div>
</div>
</div>
