<div class="section">
    <div class="about text-cente">
        <div class="row justify-content-md-center sharing-area text-center">
            <div class="text-center col-md-12 col-lg-8">
                <h1 class="title">BITMERATE™</h1>
                <h3>
                  Transparently recording and tracking land titles on a secure ledger powered
                  by Blockchain. Through our blockchain platform, we're assisting in making
                  future land titles immutable with faster and more efficient searches.
                  The BitMerate™  platform is designed and built to make land title ledger
                  tamper-proof and therefore corruption resistant.
                </h3>
            </div>
            <div class="about-link">
              <div class="text-center">
                  <a href="#fissehaye" class="btn btn-twitter-bg twitter-sharrre btn-round" rel="tooltip" title="Tweet!">
                      <i class="fa fa-twitter"></i> Twitter
                  </a>
                  <a href="#fissehaye" class="btn btn-google-bg linkedin-sharrre btn-round" rel="tooltip" title="Share!">
                      <i class="fa fa-google-plus"></i> Google
                  </a>
                  <a href="#fissehaye" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip" title="Share!">
                      <i class="fa fa-facebook-square"></i> Facebook
                  </a>
              </div>
            </div>
        </div>
    </div>
</div>
