<nav class="navbar navbar-expand-lg fixed-top">
  <div class="col-xs-12" routerLinkActive="active">
    <a [routerLink]="['/home']">
      <h3 class="logo-color"><strong>BITMERATE</strong></h3>
    </a>
  </div>
  <div class="container">
    <div class="navbar-translate">
      <button
        class="navbar-toggler navbar-burger"
        type="button" data-toggle="collapse"
        data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="sidebarToggle()">
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarToggler">
      <div class="navbar-nav ml-auto">
        <div class="col-xs-12" routerLinkActive="active">
          <a [routerLink]="['/about']" class="btn btn-neutral btn-round">About</a>
          <a [routerLink]="['/features']" class="btn btn-neutral btn-round">Features</a>
          <a [routerLink]="['/signin']" class="btn btn-neutral btn-round">Login</a>
          <a [routerLink]="['/land-list']" class="btn btn-danger btn-round">Try the demo</a>
        </div>
      </div>

      <!-- <div class="col-xs-12">
        <div class="container">
          <div class="collapse navbar-collapse justify-content-end" id="navbar-menu-icon">
            <ul class="navbar-nav">
              <li class="nav-item ">
                <div ngbDropdown class="dropdown">
                  <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
                    <i class="nc-icon nc-settings-gear-65" aria-hidden="true"></i>
                  </a>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-danger dropdown-menu-right">
                    <a [routerLink]="['/signup']" class="dropdown-item">Register
                    </a>
                    <a [routerLink]="['/home']" class="dropdown-item">Login
                    </a>
                    <div class="dropdown-divider"></div>
                    <a [routerLink]="['/land-list']" class="dropdown-item">Try the demo</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</nav>
