<div class="wrapper">
  <div class="row">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="assets/img/ethiopia-running.jpg" alt="Random first slide" class="home-img">
        <div class="carousel-caption">
          <div class="home-color">
            <h1>Racing against time</h1>
          </div>
          <div class="home-white">
            <h3>Land fraud is a pressing issue in Ethiopia and we racing against time to build
              blockchain powered land title registry system that is secured, trustworthy, transparent
              and  corruption resistant.</h3>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/african-union.jpg" alt="Random second slide" class="home-img">
        <div class="carousel-caption">
          <div class="home-color">
            <h1 presentation-subtitle>Improve government services</h1>
          </div>
          <div class="home-color">
            <h3>Blockchain enabled land registration records could reduce the number of intermediaries
              required, increase trust in identity of transacting parties, increase process efficiencies,
              and decrease time and cost to process.</h3>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/axum.jpg" alt="Random third slide" class="home-img">
        <div class="carousel-caption">
          <div class="home-white">
            <h1>History of records</h1>
          </div>
          <div class="home-white">
            <h3>Blockchain doesn't only keep land title registy immutable and secured, it also keeps land
              transaction history.</h3>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>

<div class="wrapper">
    <div class="main">
      <app-components></app-components>
    </div>
</div>
