<div class="wrapper">
  <div class="row">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="assets/img/ethiopia-running.jpg" alt="Random first slide" class="home-img">
        <div class="carousel-caption">
          <div class="carousel-header">
            <h1>The race has begun</h1>
          </div>
          <div class="carousel-content">
            <h3>Every country is building killer applications using blockchain technology</h3>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/african-union.jpg" alt="Random second slide" class="home-img">
        <div class="carousel-caption">
          <div class="carousel-header">
            <h1 presentation-subtitle>Government services</h1>
          </div>
          <div class="carousel-content">
            <h3>This carousel uses customized default values.</h3>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/axum.jpg" alt="Random third slide" class="home-img">
        <div class="carousel-caption">
          <div class="carousel-header">
            <h1>History of records</h1>
          </div>
          <div class="carousel-content">
            <h3>Blockchain keeps land ledger</h3>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>

<div class="wrapper">
    <div class="main">
      <app-components></app-components>
    </div>
</div>
