<div class="wrapper">
  <div class="row">
    <ngb-carousel>
      <ng-template ngbSlide>
          <img src="assets/img/ethiopia-running.jpg" alt="Random first slide" class="home-img">
          <div class="carousel-caption">
            <div class="home-color">
              <h1 presentation-subtitle>Racing against time</h1>
            </div>
            <div class="home-color">
              <div>
                <input type="checkbox" class="read-more-state" id="post-1" />
                <h3 class="read-more-wrap">Land fraud is a pressing issue in Ethiopia and we're
                  <span class="read-more-target">racing against time to build
                    blockchain powered land title registry system that is secured, trustworthy, transparent
                    and  corruption resistant.
                  </span>
                </h3>
                <label for="post-1" class="read-more-trigger"></label>
              </div>
            </div>
          </div>
      </ng-template>
      <ng-template ngbSlide>
          <img src="assets/img/african-union.jpg" alt="Random second slide" class="home-img">
          <div class="carousel-caption">
            <div class="home-color">
              <h1 presentation-subtitle>Improve government services</h1>
            </div>
            <div class="home-color">
              <div>
                <input type="checkbox" class="read-more-state" id="post-2" />
                <h3 class="read-more-wrap">Blockchain enabled land registration records could reduce
                  <span class="read-more-target">the number of intermediaries
                    required, increase trust in identity of transacting parties, increase process efficiencies,
                    and decrease time and cost to process.
                  </span>
                </h3>
                <label for="post-2" class="read-more-trigger"></label>
              </div>
            </div>
          </div>
      </ng-template>
      <ng-template ngbSlide>
          <img src="assets/img/axum.jpg" alt="Random third slide" class="home-img">
          <div class="carousel-caption">
            <div class="home-color">
              <h1 presentation-subtitle>History of records</h1>
            </div>
            <div class="home-color">
              <div>
                <input type="checkbox" class="read-more-state" id="post-3" />
                <h3 class="read-more-wrap">Blockchain doesn't only keep land title registy immutable
                  <span class="read-more-target">and secure, it also keeps land
                    transaction history.
                  </span>
                </h3>
                <label for="post-3" class="read-more-trigger"></label>
              </div>
            </div>
          </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>

<div class="wrapper">
    <div class="main">
      <app-components></app-components>
    </div>
</div>
