.carousel-caption {
  position: absolute;
  bottom: 40%;
  left: 20%;
}

ngb-carousel {
  width: 100%;
}

.home-img {
  min-height: 835px;
}

.home-black {
  color: black;
}

.home-white {
  color: white;
}
