<div class="wrapper">
    <div class="page-header" style="background-image: url('../assets/img/tigray-ethiopia.jpg');">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                        <div class="card card-register">
                            <h3 class="title">Register land title</h3>
                            <form class="register-form" (ngSubmit)="onSubmit()" #f="ngForm">
                                <label
                                  for="name">Name
                                </label>
                                <input
                                  type="text"
                                  id="name"
                                  name="name"
                                  ngModel
                                  class="form-control"
                                  placeholder="Owner name">

                                  <label
                                    for="city">City
                                  </label>
                                  <input
                                    type="text"
                                    id="city"
                                    name="city"
                                    ngModel
                                    class="form-control"
                                    placeholder="In which city is the land located?">

                                  <label
                                    for="rights">Rights
                                  </label>
                                  <input
                                    type="text"
                                    id="rights"
                                    name="rights"
                                    ngModel
                                    class="form-control"
                                    placeholder="Owner rights">

                                    <label
                                      for="restrictions">Restrictions
                                    </label>
                                    <input
                                      type="text"
                                      id="restrictions"
                                      name="restrictions"
                                      ngModel
                                      class="form-control"
                                      placeholder="Owner restrictions">

                                      <label
                                        for="responsibilities">Responsibilities
                                      </label>
                                      <input
                                        type="text"
                                        id="responsibilities"
                                        name="responsibilities"
                                        ngModel
                                        class="form-control"
                                        placeholder="Owner responsibilities">

                                <button class="btn btn-danger btn-block btn-round">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
