<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="http://www.insa.gov.et">Fissehaye</a></li>
                    <li><a href="http://www.insa.gov.et">Blog</a></li>
                    <li><a href="http://www.insa.gov.et">Licenses</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}} INSA
                </span>
            </div>
        </div>
    </div>
</footer>
